@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200;
}

.container {
  @apply max-w-5xl mx-auto p-4;
}

.alert {
  @apply p-2 w-full rounded-md;
}

.link {
  @apply hover:bg-slate-300 px-4 py-2 rounded-sm font-semibold capitalize flex items-center gap-1;
}

.input {
  @apply p-2 rounded-md outline-none border;
}

.btn {
  @apply py-2 px-4 text-white font-semibold rounded-md shadow-sm flex justify-center items-center space-x-1 disabled:cursor-not-allowed;
}
.btn-outline {
  @apply py-2 px-4 rounded-md border border-gray-300 shadow-sm flex justify-center items-center space-x-1;
}
.btn-primary {
  @apply bg-green-500 hover:bg-green-600 active:bg-green-700 disabled:bg-gray-400;
}
.btn-dark {
  @apply bg-gray-950 hover:bg-gray-900 active:bg-gray-800;
}
.btn-danger {
  @apply bg-red-500 hover:bg-red-600 active:bg-red-700;
}
.btn-disable {
  @apply bg-gray-300 text-gray-700 px-4 py-2 rounded-md;
}

.card {
  @apply p-4 rounded-sm bg-gray-100;
}
.card-primary {
  @apply p-4 rounded-sm bg-green-100;
}

.divider {
  @apply h-[2px] bg-gray-300 rounded-md my-2;
}

.text-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
